


.student-profile{
    margin-top:2%
}
.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}
.btn{
    width: 20%;
}
input{
    border: none;
}
.card{
    border: 2px solid White;
    border-radius: 10px;
    background: #F6FBFF;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(220px);
}
body {
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, #DB676C 10%, #DB676C calc(10% + 2px), transparent calc(10% + 2px), transparent 100%), linear-gradient(180deg, white 10%, transparent 10%), repeating-linear-gradient(180deg, #91C1E1 0px, #91C1E1 2px, transparent 2px, transparent 32px), linear-gradient(white,white);
}
input{
    border: none;
    width: 75%;
    background-color:#F6FBFF;
}
.card1{
    border: 2px solid White;
    border-radius: 10px;
    background: #F6FBFF;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(220px);
    margin: 40px;
    padding:15px;
}
.table1, th {
    border: 1px solid #F69074;
    padding: 5px;
    text-align: left;
    font-size: 15px;
}
.table1, td {
    border: 1px solid #F69074;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    font-size: 15px;
}
.table1{
    border-collapse: collapse;
    width: 100%;
}
textarea{
    border: none;
    width: 75%;
    background-color:#F6FBFF;

}
textarea:focus{
    outline: none;
}
input:focus{
    outline: none;
}
