.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: aliceblue;

}

.search-icon {
    font-size: 24px; /* Adjust the font size as needed */
    color: #666; /* Adjust icon color */
}

.search-input {
    border: none;
    outline: none;
    flex: 1;

}


input{
    width: 150vh;
    height: 50px;
    border-radius: 50px;
    border-color: transparent;
    background-color: aliceblue;
}


body{
    background-image:url("background.svg");
    background-size: 100vh ;
    background-repeat: no-repeat ;
}

.search{
    margin-top: 15px;
    width: 150px;
}
.color1{
    background-color: #ff7254;
    outline-color:  #dc3545;
}
button{
    background-color: #ff7254;
    border-color: #ff7254;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.card{
    background-color: aliceblue;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
